.logo {
  width: 30%;
  height: 30%;
}
.navbar-toggler {
  border: none !important;
}
.me-auto {
  column-gap: 5px;
}
.bg-body-tertiary {
  background-color: #0d0d0d !important;
  font-family: "Roboto Condensed", sans-serif;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 60%;
    height: 60%;
  }
}
