.navbar-collapse{
  column-gap: 5px !important;
}
.logo {
  width: 3vw;
  height: 3vw;
}
.back{
  background-color: rgba(0,0,0,0.6) !important;
  font-family: "Roboto Condensed", sans-serif;
}
.navbar-toggler {
  border: none !important;
}
.me-auto {
  column-gap: 5px;
}
.bg-body-tertiary {
  background-color: #0d0d0d !important;
  font-family: "Roboto Condensed", sans-serif;
}
@media screen and (max-width: 768px) {
  .logo {
    width: 60%;
    height: 60%;
  }
}
