@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Roboto+Condensed:wght@400;700&display=swap');
:root{
    --rose:#2B77A1;
    --black:#161722;
    --white:#FFFFFF;
    --gradient:rgba(165, 78, 43, 1);
}
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}